In [87]:
import pandas as pd 
from pathlib import Path

In [88]:
file_path = Path("../data/energy_data/raw_data/NGFut1_2015-2020.csv")

In [89]:
NGFut_df = pd.read_csv(file_path)
NGFut_df.head()

,Index,Series Name,Period,Frequency,Value,Units
0,0,"Natural Gas Futures Contract 1, Daily",20201027,D,3.019,Dollars per Million Btu
1,1,"Natural Gas Futures Contract 1, Daily",20201026,D,3.024,Dollars per Million Btu
2,2,"Natural Gas Futures Contract 1, Daily",20201023,D,2.971,Dollars per Million Btu
3,3,"Natural Gas Futures Contract 1, Daily",20201022,D,3.007,Dollars per Million Btu
4,4,"Natural Gas Futures Contract 1, Daily",20201021,D,3.023,Dollars per Million Btu

In [90]:
NGFut_df = NGFut_df.drop(columns=["Index", "Series Name", "Frequency", "Units"])
NGFut_df.set_index(NGFut_df["Period"], inplace=True)
NGFut_df.sort_index()

            Period  Value
Period
20150102  20150102  3.003
20150105  20150105  2.882
20150106  20150106  2.938
20150107  20150107  2.871
20150108  20150108  2.927
20150109  20150109  2.946
20150112  20150112  2.795
20150113  20150113  2.943
20150114  20150114  3.233
20150115  20150115  3.158
20150116  20150116  3.127
20150120  20150120  2.831
20150121  20150121  2.974
20150122  20150122  2.835
20150123  20150123  2.986
20150126  20150126  2.881
20150127  20150127  2.981
20150128  20150128  2.866
20150129  20150129  2.719
20150130  20150130  2.691
20150202  20150202  2.680
20150203  20150203  2.754
20150204  20150204  2.662
20150205  20150205  2.600
20150206  20150206  2.579
20150209  20150209  2.597
20150210  20150210  2.677
20150211  20150211  2.797
20150212  20150212  2.713
20150213  20150213  2.804
...            ...    ...
20200916  20200916  2.267
20200917  20200917  2.042
20200918  20200918  2.048
20200921  20200921  1.835
20200922  20200922  1.834
20200923  20200923  2.125
20200924  20200924  2.248
20200925  20200925  2.139
20200928  20200928  2.101
20200929  20200929  2.561
20200930  20200930  2.527
20201001  20201001  2.527
20201002  20201002  2.438
20201005  20201005  2.615
20201006  20201006  2.520
20201007  20201007  2.606
20201008  20201008  2.627
20201009  20201009  2.741
20201012  20201012  2.881
20201013  20201013  2.855
20201014  20201014  2.636
20201015  20201015  2.775
20201016  20201016  2.773
20201019  20201019  2.795
20201020  20201020  2.913
20201021  20201021  3.023
20201022  20201022  3.007
20201023  20201023  2.971
20201026  20201026  3.024
20201027  20201027  3.019

[1480 rows x 2 columns]